<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./head'); %>
  </head>

  <body>
    <a href="/genres">Back</a>
    <h1>Add director</h1>
    <form method="post">
      <input type="text" placeholder="First name" name="firstName" required />
      <input type="text" placeholder="Last name" name="lastName" required />
      <p>
        <button>Save</button>
      </p>
    </form>
  </body>
</html>
