<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./head'); %>
  </head>

  <body>
    <h1>Movies CRUD</h1>
    <p>
      <a href="/movies">Movies</a>
      <a href="/directors">Directors</a>
      <a href="/Genres">Genres</a>
    </p>
  </body>
</html>
